{% extends 'layout.html.twig' %}

{% block title %}Chicken index{% endblock %}

{% block body %}
    <h1>Chicken index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chicken in chickens %}
            <tr>
                <td>{{ chicken.id }}</td>
                <td>{{ chicken.email }}</td>
                <td>{{ chicken.roles ? chicken.roles|json_encode : '' }}</td>
                <td>{{ chicken.password }}</td>
                <td>
                    <a href="{{ path('app_chicken_show', {'id': chicken.id}) }}">show</a>
                    <a href="{{ path('app_chicken_edit', {'id': chicken.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chicken_new') }}">Create new</a>
{% endblock %}
