{% extends 'layout.html.twig' %}

{% block title %}Ville index{% endblock %}

{% block body %}
    <div class="d-flex">
        <h1>Villes</h1>
        <a href="{{ path('app_ville_new') }}" class="align-self-center px-3">Create new</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Blason</th>
                <th>Country</th>
                <th>Région</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>
                <td>{{ ville.id }}</td>
                <td>{{ ville.nom }}</td>
                <td>{{ ville.blason }}</td>
                <td>{{ ville.country }}</td>
                <td>{{ ville.region }}</td>
                <td>
                    <a href="{{ path('app_ville_show', {'id': ville.id}) }}">show</a>
                    <a href="{{ path('app_ville_edit', {'id': ville.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
